*{	
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	background-color: #f4f4f4;
}.menu{
	display:flex;
	justify-content:center;/*horizontal*/
	align-items:center;/*vertical*/
	gap:2rem;
	list-style:none;
}.menu li a{
	transition:all 1s ease-in-out;
	padding:.8rem 2rem;
	text-decoration:none;
	color:black;
	border:1px solid rgba(30,30,30,.7);
}.menu li a:hover{
	backdrop-filter:blur(5px);
	background:rgba(0,0,0,.5);
	box-shadow:5px 5px 50px rgba(255,255,255,.6);
}nav{
	padding:2rem;
	display:flex;
	justify-content: center;
	align-items: center;
	border-bottom:1px solid rgba(30,30,30,.7);
}
h1{
	position: relative;
	width:100%;
	text-align:center;
	margin-top:2rem;
	font-family:'arial','helvetica',sans-serif;
	color:black;
	z-index:10;
}
h3{
	position: relative;
	z-index:15;
margin-top:1rem;
font-family:'arial','helvetica',sans-serif;	
font-size:1rem;
width:100%;
text-align:center;
color:rgb(15, 165, 100);
}
#formulario{
	position: relative;
margin:2rem auto;
width:50%;
padding:1rem;
height:auto;
display:flex;
flex-direction:column;
justify-content: center;
gap:1rem;/*para dar espacio entre los elementos hijos*/
z-index:20;
}
#formulario input,button{
	width:100%;
	padding:.8rem 0;
	border:1px solid rgba(59,59,59,.7);
}.botonera{
	display:flex;
	justify-content: center;
	align-items: center;
	gap:1rem;
}
input:focus{
	background:rgb(195, 195, 195);
}
button{
	cursor:pointer;
	color:black;
	transition:all .8s ease-in-out;
}
.botonera button:nth-child(1){
    background:rgb(15, 165, 100);
}
.botonera button:nth-child(2){
	background:rgb(240, 86, 86);
}
.botonera button:nth-child(1):hover{
box-shadow:5px 5px 70px rgba(15, 165, 100);
transform:translateY(-1px);	
}.botonera button:nth-child(2):hover{
box-shadow:5px 5px 70px rgba(240, 86, 86);
transform:translateY(-1px);	
}
.textoCuenta{
	width:auto;
	padding:0 1rem;
	margin:.1rem auto;
	text-align: center;
	color:black;
}
